<a href="https://colab.research.google.com/github/mayurbohra9/Machine-Learning-CS-601/blob/main/LIST_COMPREHENSIVE_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Get the index and value at the tuple for items in the list.
items=['hi', 1.29,3,4,(0.1,'hi')]
[(index,value) for index,value in enumerate (items)]

[(0, 'hi'), (1, 1.29), (2, 3), (3, 4), (4, (0.1, 'hi'))]

In [2]:
#Find the common numbers in the list using list comprehension.
l1=[1,2,3,4,5,6]
l2=[3,4,5,6,7,8,9]
[i for i in l1 for j in l2 if i==j]

[3, 4, 5, 6]

In [3]:
#S="I love my nation. " Count number of letters.
S="I love my nation. "
l1=[i for i in S if i!=' ']
print (len(l1))

14

In [4]:
# S= "This is CSIT 1984 60".Count the number of words which are not alpha numeric.
S= "This is CSIT 1984 60"
i=S.split()
[j for j in i if not j.isalpha()]

['1984', '60']

In [5]:
#S="I love my nation. " Count number of words.
S="I love my nation. "
i=S.split()
l=[i for i in S.split()]
print (len(l))

4

In [6]:
#Count the number of words having character greater than 4.
S=" I am from Indore"
i=S.split()
[j for j in S.split() if j.isalpha() and len(j)>=4]

['from', 'Indore']

In [7]:
#Use a nested list comprehension to find all the numbers in range 1-100, that are divisible by any digit or number between 2-9
[ i for j in range (2,10) for i in range(1,101) if i%j==0]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96,
 100,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 60,
 66,
 72,
 78,
 84,
 90,
 96,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 77,
 84,
 91,
 98,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 80,
 88,
 96,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81,
 90,
 99]